<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }} - ES STEEEX EM </title>
</head>
<body>
<h1>SHNOOOORHAAAVOOOOOOORRRRRR {{ user.username }}!</h1>
</body>
</html>